        <section class="create_form_section">

            <label for="author">Hvem er du? (Anonymt navn ok):</label>
            <input type="text" id="author" placeholder="Dig..." required>

            <label for="title">Skrive en titel:</label>
            <input type="text" id="title" placeholder="Titel..." required>

            <label for="content">Skrive noget:</label>
            <input type="text" id="content" placeholder="Noget..." required>

            <label for="image">Lyst til at uploade et billede?</label>
            <input type="file" id="image">

            <button type="button" onclick="createPost()">Smid lortet op!</button>
        </section>